---
layout: default
---
<body>
  <div id="main">

    <nav><ul>
      {% for node in site.posts reversed %}
        {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
          <!-- <li class="site-nav"> <a href="#{{id}}">{{node.title}}</a> </li> -->
      {% endfor %}
    </ul></nav>

    {% for page in site.posts reversed %}
      {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
      <div id="{{id}}" class="section p-{{id}}">
        <div class="container {{ page.style }}">
          {% if page.title <> "Intro" %}
            <h2 class="post-title">{{ page.title }}</h5>
          {% endif %}
          {{ page.content }}
        </div>
      </div>
    {% endfor %}
  </div>

</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="site.js"></script>
</html>
